---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle="Mi blog de Astro aprendizaje">
	<p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
			))
		}
	</ul>
</BaseLayout>
